<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="environment"
                    source="spring.profiles.active"/>

    <logger name="com.hotmart.logger.integration.web.RequestLoggingFilter"
            level="DEBUG"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <contextName>springboot3-jwt</contextName>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>